.contact-section {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--black-clr);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
button.btn
{
    display: block;
    margin: auto;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
